html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

body{
    background-image: url("imagens/bg_home.jpg");
    background-size: 100%;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

#tela{
    width: 100%;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    height: 100vh;
}

h1{
    font-size: 3rem;
    text-shadow: 5px 5px 5px #000;
}

.home h1{
    color: #fff;
}

.sections{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.sections h1{
    color: #000;
}

.home-section{
    background-color: #fff;
    padding: 3rem 6rem;
    border-radius: 1rem;
    box-shadow:  5px 5px 10px #000;
    min-width: 25%;
}

.sections form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item{
    margin: 16px 0;
    margin-left: 10px;
}

input, select{
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
    padding: .4rem;
    font-size: .9rem;
}
select{
    margin-left: auto;
}

button{
    border: none;
    padding: .6rem .4rem;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: 150ms;
    background-color: rgb(68, 41, 0);
    color: white;
    font-family: inherit;
    font-size: inherit;
}

button:hover{
    background-color: rgb(27, 16, 0);
}

.partida{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.menu{
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.685);
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0 10px #000;
    width: 15%;
    color: #fff;
}

.menu button{
    box-shadow:  5px 5px 5px #000;
}

.menu button:focus{
    outline-style: none;
  }

#listaJogadores{
    margin-top: auto;
}

#listaJogadores p{
    margin: 0;
    padding: 0;
}

.game{
    width: 65%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player, .jogadas, .oponente{
    display: flex;
    justify-content: center;
}

.mao{
    display: flex;
}

.mao img, #jogada img{
    height: 150px;
    width: 100px;
    margin: 0 20px;
    box-shadow:  5px 5px 5px #000;
}

.chat{
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 221, 165);
    padding: 10px 1.5rem;
    width: 20%;
    height: calc(100% - 20px);
    box-shadow: -5px 0 10px #000;
}

.chat h2{
    border-bottom: 1px solid rgb(170, 160, 101);
}

.chat .mensagens{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    height: 90%;
    background-color: rgb(255, 251, 230);
    border-radius: 4px;
    padding: 8px 10px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.form-mensagem{
    margin-top: auto;
    display: flex;
    padding-top: 1rem;
}

.form-mensagem button{
    margin-left: 1rem;
    font-size: 1.3rem;
    padding: 4px;
    width: 40px;
}

.form-mensagem input{
    height: 1rem;
    width: calc(100% - 60px);
    font-size: .9rem;
}

.mensagem{
    margin-bottom: 10px;
}

#vencedor{
    font-size: 2rem;
    padding: 4rem;
    background-color: rgb(126, 25, 25);
    color: #fff;
    border-radius: 1rem;
    animation: vencedor .15s infinite ease;
}

.toasty{
    position: absolute;
    display: none;
    bottom: -295px;
    right: -341px;
}

.toasty-anime{
    bottom: 0px;
    right: 0px;
    display: block;
    animation: toasty 1s;
}

@keyframes toasty {
    90%{
        bottom: 0px;
        right: 0px;
    }
    100% {
        bottom: -295px;
        right: -341px;
    }
}

@keyframes vencedor {
    50%{
        padding: 4.1rem;
    }

    100%{
        padding: 4rem;
    }
}