html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

body{
    background-color: rgba(241, 241, 179, 0.637);
}

.home{
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home h1{
    font-size: 4rem;
}

.sections{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.sections form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-item{
    margin: 16px 0;
}

input{
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
    padding: .4rem;
}

button{
    border: none;
    padding: .6rem .4rem;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: 150ms;
    background-color: rgb(29, 29, 29);
    color: white;
}

button:hover{
    background-color: rgb(0, 0, 0);
}

.partida{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.menu{
    padding: 20px;
    width: 10%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000;
}

.game{
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player, .jogadas, .oponente{
    display: flex;
    justify-content: center;
}

.mao{
    display: flex;
}

.mao img{
    height: 200px;
    width: 150px;
    margin: 0 20px;
}